body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.listing-item {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
}

.listing-item__title {
  font-weight: 600;
}

.listing-item__date {
  color: lightgrey;
  font-size: 12px;
}

.listing-item__section {
  font-size: 14px;
}

.listing-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-wrapper {
  margin: 30px 0;
}

.pagination {
  justify-content: center;
}

.header {
  margin: 20px 0 30px;
}

.read-later {
  cursor: pointer;
}
